<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CMS - {{ block('title') }}</title>

    <!-- styles -->
    <link rel="stylesheet" href="css/main.css">
    {{ block('styles') }}

</head>
<body>

    <!-- page -->
    {{ block('page') }}

    <!-- javascripts -->
    <script src="js/layout.js"></script>
    {{ block('javascripts') }}
</body>
</html>