{% extends "layout/_layout.twig" %}

{% block menu %}
    <nav class="swiper-container menu-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">1</div>
            <div class="swiper-slide">2</div>
            <div class="swiper-slide">3</div>
        </div>
    </nav>
{% endblock %}

{% block page %}

{% endblock %}

{% block javascripts %}
{% endblock %}