{% extends "layout/_layout.twig" %}
{% extends "layout/pages/_read.twig" %}

{% block content %}
    <h1>informações</h1>
{% endblock %}

{% block javascripts %}
<script src="/assets/js/index.js"></script>
{% endblock %}