$theme: 'light';
$themeColors:(
    light:(
        light: white,
        light-2: #f9fbfd, 
        light-3: #f4f7f9,
        dark: rgb(116, 124, 129),
        border: #eff1f9,
        border-inverse: rgba(116, 124, 129, .1)
    ),
    dark:(
        light: '',
        mediumLight: '',
        dark: '',
        border: ''
    )
);
@function get-color($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}

$color-light: get-color($themeColors, $theme, 'light');
$color-light-2: get-color($themeColors, $theme, 'light-2');
$color-light-3: get-color($themeColors, $theme, 'light-3');
$color-dark: get-color($themeColors, $theme, 'dark');
$color-border: get-color($themeColors, $theme, 'border');
$color-border-inverse: get-color($themeColors, $theme, 'border-inverse');

//borders
$border-card: 1px solid $color-border;
$border-card-inverse: 1px solid $color-border-inverse;
